{% load staticfiles %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Craiglist Clone</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>


<nav>
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo">Craiglist Clone</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <h3 class="blue-text text-darken-2" style="text-align: center">Feel free to search for something on Craiglist and get a better view!</h3>
    <div class="row">
        <div class="col s4">
            <!-- Promo Content 1 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: #EE6E73">flash_on</i>
                <p>Fast craigslist web scraper</p>
                <p class="light center">Scrape away right here with a beautiful GUI.</p>
            </div>
        </div>

        <div class="col s4">
            <!-- Promo Content 2 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: orange">camera</i>
                <p>Filter your searches</p>
                <p class="light center">Built in functionality to filter based on Location.</p>
            </div>
        </div>

        <div class="col s4">
            <!-- Promo Content 3 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: blue">chrome_reader_mode</i>
                <p>A much better looking front-end to Craigslist</p>
                <p class="light center">Only for viewing posts.</p>
            </div>
        </div>
    </div>





<form action="{% url 'new_search' %}" method = 'post'>
    {% csrf_token %}

    <div class="input-field col s12 m6">
        <div class="select-wrapper">
    <select name = 'location'>
      <optgroup label="North America">
          <option>Toronto</option>
          <option>Boston</option>
          <option>Chicago</option>
          <option>LosAngeles</option>
          <option>Miami</option>
          <option>Montreal</option>
          <option>NewYork</option>
          <option>Seattle</option>
          <option>SFBay</option>
          <option>Vancouver</option> 
          <option>WashingtonDC</option>
          <option>Niagara</option>
          <option>Guelph</option>
          <option>Montreal</option>
  </optgroup>
  <optgroup label="Middle East">
          <option>Dubai</option>
          <option>Beirut</option>
          <option>Cario</option>
          <option>Haifa</option>
          <option>Jerusalem</option>
          <option>Pakistan</option>
  </optgroup>
  <optgroup label="Europe">
          <option>Amsterdam</option>
          <option>Berlin</option>
          <option>Brussels</option>
          <option>Budapest</option>
          <option>Copenhagen</option>
          <option>Cotedazur</option>
          <option>Dublin</option>
          <option>Edinburgh</option>
          <option>Florence</option>
          <option>London</option>
          <option>Oslo</option>
          <option>Munich</option>
          <option>Oxford</option>
          <option>Paris</option>
          <option>Prague</option>
          <option>Rome</option>
          <option>Stockholm</option>
          <option>Venice</option>
  </optgroup>
  <optgroup label="Asia">
          <option>Bangladesh</option>
          <option>Shanghai</option>
          <option>HongKong</option>
          <option>Bangalore</option>
          <option>Jakarta</option>
          <option>Tehran</option>
          <option>Baghdad</option>
          <option>Telaviv</option>
          <option>Tokyo</option>
          <option>Kuwait</option>
          <option>Beirut</option>
          <option>Malaysia</option>
          <option>Manila</option>
          <option>Moscow</option>
          <option>Singapore</option>
          <option>Seoul</option>
          <option>Taipei</option>
          <option>Bangkok</option>
          <option>Istanbul</option>
          <option>Vietnam</option>
          <option>Ramallah</option>
  </optgroup>
    </select>
            </div>
    <label>Location</label>
  </div>



    <input type="text" name = 'search' placeholder="Search for a listing">

  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

</form>

   {% block content %}

    {% endblock content %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('select').formSelect();
  });

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>